@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&display=swap');

.root{

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/james-wainscoat-DoLb7nZvv-k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.header{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

.home-link{
    color: whitesmoke;
    padding: 1rem;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: whitesmoke;
}

.navigation{
    display: flex;
}
.nav-list{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: whitesmoke;
}

.nav-item{
    font-size: x-large;
    font-weight: 600;
    margin: 0 14px;
    padding: 10px;
    color: whitesmoke;
}

.nav-link:hover{
    color: rgb(41, 40, 40);
}

.main{
    text-align: center;
}

.about-text{
    color: rgb(41, 40, 40);
    text-align: left;
    /* top: 50%;
    left: 50%; */
    margin: auto;
    margin-top: 8%;
    /* transform: translate(-50%, -50%); */
    /* position: absolute; */
    font-size: 1.3rem;
    width: 40%;
}

.socials{
    margin: auto;
    text-align: center;
}

.list-item-inline{
    display: inline;
}
.social-btn{
    margin-top: 3rem;
    padding: 0 2rem;
    font-size: 3rem;
}

.social-btn .link:hover{
    color: rgb(41, 40, 40);
}

.explore{
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.explore-btn{
    background-color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.5rem;
    color: rgb(41, 40, 40);
    font-size: 1.5rem;
    font-weight: bold;
}

.explore-btn:hover {

    background-color: rgb(153, 151, 151);
}
/* .header{
    min-height: 100vh;
    width: 100%;
    background-image: url(/images/james-wainscoat-DoLb7nZvv-k-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

a{
    text-decoration: none;
}

ul{
    text-decoration: none;
}

.nav-brand{
    float: left;
    display: block;
}

.nav-links{
    float: right;
}
 */


/* 
.navigation{
    padding: 1rem;

}

.navigation .nav-brand{
    display: block;
    padding: 1rem;
    font-size: 1.7rem;
    color: whitesmoke;
}

.navigation .nav-pills{
    display: inline;
    font-size: 1.3rem;
    text-align: right;
    color: whitesmoke;
}

.navigation .link{
    color: whitesmoke;
    text-align: right;
}

.item-inline{
    display: inline;
}

.nav-links{
    text-align: right;
} */